<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body class="body-image" style="background-image: linear-gradient(to left, rgba(22, 80, 173, 0.3) , rgba(70, 113, 181, 0.3)), url(<%= cl_image_path('gg1zxwo9z8iqbckz8jkk') %>)">


    <%= yield %>
  </body>
</html>

